header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

header > span {
  font-weight: 800;
}

.dark_mode_btn {
  background-color: inherit;
  border: none;
  font-weight: 600;
}
