.countries_container {
  /* max-width: 1400px; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0 2.5rem;
}

@media screen and (min-width: 600px) {
  .countries_container {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    column-gap: calc((100% - 250px * 2));
    row-gap: 4rem;
  }
}

@media screen and (min-width: 850px) {
  .countries_container {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: calc((100% - 250px * 3) / 2);
    row-gap: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .countries_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: calc((100% - 250px * 4) / 3);
  }
}

@media screen and (min-width: 1550px) {
  .countries_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: calc((100% - 250px * 5) / 4);
  }
}
