@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-mode-elements-blue: hsl(209, 23%, 22%);
  --dark-mode-background-blue: hsl(207, 26%, 17%);
  --light-mode-text-blue: hsl(200, 15%, 8%);
  --light-mode-input-gray: hsl(0, 0%, 52%);
  --light-mode-background-gray: hsl(0, 0%, 98%);
  --dark-mode-text-white: hsl(0, 0%, 100%);
  --light-mode-elements-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.dark_mode_bg {
  background-color: var(--dark-mode-background-blue) !important;
}

.dark_mode_element_bg {
  background-color: var(--dark-mode-elements-blue);
}

.dark_mode_text {
  color: var(--dark-mode-text-white);
}
